<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(188, 193, 136)">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CAR COMPARISON APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container-fluid">
    <h4 class="text-center mt-4" style="font-weight: bold;color: rgb(188, 193, 136);">WELCOME TO THE CAR COMPARISON APP</h4>
    <div class="container">
        <hr>
        <div class="d-flex justify-content-center">
            <img src="https://cdnwp.drivek.com/b787d585/uploads/sites/5/2017/09/car-comparison-technical-details-features-dimensions.jpg" alt="image unavaiable" class="img-fluid" height="1000rem" width="1000rem">
        </div>
        <hr>
        <p>
            This app is designed to propose the best available car according to your budget or desired specifications. Here you can add your favourite specifications , which we will examine and compare with all the vehicles that comes under your desired category and will choose the best 3 of them if available.
        </p>
        <div class="mt-5 text-center">
            <Button class="btn text-white" (click)="NavigateToFilter()" style="background-color: rgb(188, 193, 136);">Let's get started</Button>
        </div>
    </div>
</div>