.bg-image {
    background-image: url('https://www.hdcarwallpapers.com/walls/ferrari_gtc4lusso_t_2017_4k-HD.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }